.pulse {
	background-color: rgb(89, 89, 89);
	border-radius: 15px;
	position: relative;
	overflow: hidden;
}

.loading-posts {
	width: 60%;
	margin: 0 auto;
}

.pulse::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(
		90deg,
		transparent,
		rgb(119, 119, 119),
		transparent
	);
	animation: loading 1.5s ease-in-out infinite;
}

@keyframes loading {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}
