.main-wrapper {
	padding: 100px 250px 200px 250px;
	margin: 90px;
	border-radius: 15px;
	background: rgb(29, 29, 29);
	color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.313);
}

h2 {
	padding-bottom: 40px;
}

h3 {
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 25px;
	font-weight: bold;
}

p {
	padding-bottom: 10px;
}

ul,
ol {
	margin-left: 30px;
	padding-bottom: 10px;
}

.main-wrapper > pre {
	border-radius: 15px;
	color: white;
	margin: 30px 0px;
	padding: 10px 20px;
	background: rgb(30, 30, 30);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

strong > code {
	padding: 5px;
	background: lightgray;
	border-radius: 5px;
	color: black;
}

img {
	width: 70%;
	margin: 0 auto;
	padding: 30px 0px;
}

.main-wrapper > ul:nth-child(12) {
	background: rgba(255, 255, 255, 0.2);
	padding: 20px 40px;
	width: 40%;
	border-radius: 4px;
	margin: 10px 0px 0px 0px;
	list-style-type: none;
}

.main-wrapper > p:nth-child(10) > img:nth-child(1) {
	border: 1px solid white;
	margin: 30px auto;
}

.main-wrapper > ul:nth-child(11) {
	font-size: 18px;
}

.main-wrapper > ul:nth-child(11) {
	padding: 20px 40px;
	width: 60%;
	width: auto;
	line-height: 1.5;
	list-style-type: none;
	width: 60%;
}

li {
	padding: 10px 0px;
}

#loading-window {
	height: 100vh;
}

.main-wrapper > p:nth-child(10) > img:nth-child(1) {
	padding: 0;
}
